body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 0.3s, background 0.3s;
}

header h1{margin-top: 0%;}

header {
  width: 70%;
  height: 50%;
  border-bottom: 1px solid var(--toggle-bg);
  padding: 10px;
  margin: auto;
  text-align: left;
  transition: border 0.3s;
}

.headerTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  margin-top: 2.5%;
  padding: 50px;
  width: 70%;
  height: 50%;
  background-color: var(--container-bg);
  border-radius: 25px;
  border: 1px solid var(--toggle-bg);
  transition: background 0.3s, border 0.3s;
}

.taskInput {
  display: flex;
  align-items: stretch;
  gap: 8px;
}

.taskInput input{
  color: var(--text-color);
  background-color: var(--input-bg);
  height: 40px;
  box-sizing: border-box;
  flex: 1;
  border-radius: 15px;
  border: 1px solid var(--toggle-bg);
  transition: color 0.3s, background 0.3s, border 0.3s;
}

.taskInput button{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  font-size: medium;
  border-radius: 15px;
  border: 1px;
  transition: background 0.3s, color 0.3s;
}

.taskInput select {
  color: var(--text-color);
  background-color: var(--input-bg);
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s, background 0.3s;
}

.taskList{
  margin-top: 2.5%;
  min-height:200px;
  padding: 20px;
  border: 1px solid var(--toggle-bg);
  border-radius: 15px;
  background-color:var(--tasks-bg);
  transition: border 0.3s, background 0.3s;
}

.buttons {
  margin-top: 2.5%;
}

.buttons button {
  color: var(--text-color);
  width: auto;
  height: 40px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 15px;
  border: 1px solid var(--toggle-bg);
  margin-right: 2.5%;
  background-color: var(--toggle-circle);
  transition: color 0.3s, border 0.3s, background 0.3s;
}

.doneCheckBox {
  accent-color: green;
}

.taskDone, .task {

  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 15px;

  padding: 12px 16px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 8px;
}

.taskDone input, .task input {
  width: 20px;
  height: 20px;
}


.taskDone span, .task span {
  flex: 1;
}

button, select {
  transition: scale 0.15s ease,box-shadow 0.15s ease;
}

button:hover, select:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  scale: 105%;
}

.task {
  animation: taskAppear 0.5s ease-out;
}

@keyframes taskAppear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



:root {
  --bg-color: #f2f0f0;
  --text-color: #1e293b;
  --header-bg: #e2e8f0;
  --btn-bg: #3b82f6;
  --btn-text: #ffffff;
  --toggle-bg: #d2d2d2;
  --toggle-circle: #ffffff;
  --container-bg: #ffffff;
  --tasks-bg: #f8fbff;
  --input-bg: #ffffff;
}


:has(#dark-mode-toggle:checked) {
  --bg-color: #0f172a;
  --text-color: #e2e8f0;
  --header-bg: #1e293b;
  --btn-bg: #14b8a6;
  --btn-text: #0f172a;
  --toggle-bg: #475569;
  --toggle-circle: #0f172a;
  --container-bg: #475569;
  --tasks-bg: #464858;
  --input-bg: #464858;
}

#dark-mode-toggle {
  display: none;
}

.toggle {
  display: inline-block;
  width: 60px;
  height: 30px;
  background: var(--toggle-bg);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
  transition: scale 0.15s ease,box-shadow 0.15s ease;
}

.toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: var(--toggle-circle);
  border-radius: 50%;
  transition: transform 0.3s;
}

#dark-mode-toggle:checked + .toggle::before {
  transform: translateX(30px);
}

.toggle:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  scale: 105%;
}